/*==================================
 ------------ BLANK CSS -----------
==================================*/

.layout {
  &--home {
    .pane--content {
      text-align: center;
    }
  }
}

.pane {
  &--header {
    .pane_inner {
      @include fit-and-center($layout-width);
    }
    .module-logo img {
      margin-bottom: -10px;
    }
    .module, .nav {
      vertical-align: baseline;
    }
    .layout_toggle {
      display: none;
      @include font-size(36px);
      text-align: right;
    }
    .nav {
      text-align: right;
      li {
        display: inline-block;
        a {
          display: block;
          padding: 50px 15px 30px;
          color: #333;
          font-weight: normal;
        }
        &.selected a,
        a:hover,
        a:focus {
          padding: 50px 15px 28px;
          border-bottom: 2px solid #0F5CA3;
          color: #0F5CA3;
          outline: none;
        }
      }
    }
    // Mobile Styles
    @include layout-legacy {
      .pane_inner {
        height: $mobile-header-height;
      }
      .module {
        vertical-align: middle;
      }
      .module-logo img {
        margin-bottom: 0;
      }
      .layout_toggle {
        display: inline-block;
      }
      .nav, .module-search {
        display: none;
      }
    }
  }
  &--banner {
    background: rgba(0,0,0,0.1) url('https://s21.q4cdn.com/721433817/files/design/product-service-section-bg.jpg') 50% 85%;
    color: #fff;
    .pane_inner {
      position: relative;
      @include fit-and-center($layout-width);
      padding: 50px 0;
    }
    .module-breadcrumb {
      .module_title {
        @include font-size(50px);
      }
      .module_container--inner {
        display: none;
      }
    }
    @include layout-legacy {
      text-align: center;
    }
  }
  &--navigation {
    // Desktop Style
    background: $brand-color;
    .pane_inner {
      @include fit-and-center($layout-width);
      @include layout-legacy {
        max-width: none;
      }
    }
    .nav {
      background: $brand-color;
      text-align: center;
      .level1 {
        & > li {
          display: none;
          &.expanded {
            display: block;
              & > a {
                display: none;
              }
          }
        }
      }
      .level2 {
        display: table;
        width: 100%;
        & > li {
          position: relative;
          display: table-cell;
          &:hover, &.selected, &.expanded {
            background: darken($brand-color, 7.5%);
          }
          a {
            display: block;
            padding: 20px;
            @include font-size(14px);
            &:focus {
              outline: none;
            }
          }
        }
      }
      .level3 {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-top: 2px solid $light-color;
        & > li {
          text-align: left;
          a {
            background: darken($brand-color, 7.5%);
            &:hover, &:focus {
              outline: none;
              background: $brand-color;
            }
          }
          &.selected {
            a {
              background: $brand-color;
            }
          }
        }
      }
    }
    // Mobile Styles
    @include layout-legacy {
      position: absolute;
      top: -100%;
      left: 0;
      right: 0;
      bottom: 100%;
      transition: 0.5s ease-in-out;
      &--expanded {
        top: $mobile-header-height;
        bottom: 0;
      }
      .pane_inner {
        padding: 0;
      }
      .nav {
        text-align: left;
        a {
          display: block;
          border-top: 1px solid darken($brand-color, 10%);
          text-transform: uppercase;
          font-weight: normal;
        }
        .level1 {
          & > li {
            display: block;
            &.expanded {
              background: darken($brand-color, 7.5%);
              a {
                display: block;
              }
              .level2 {
                display: block;
              }
            }
            & > a {
              padding: 24px 20px;
            }
          }
        }
        .level2 {
          display: none;
          & > li {
            display: block;
            & > a {
              padding: 20px 48px;
              @include font-size(16px);
            }
          }
        }
      }
    }
  }
  &--content {
    .module {
      padding-top: $module-vspace;
      padding-bottom: $module-vspace;
      &_container {
        &--outer { 
          @include fit-and-center($layout-width);
        }
      }
      &--thin {
        padding-top: $module-vspace--thin;
        padding-bottom: $module-vspace--thin;
      }
      &--thick {
        padding-top: $module-vspace--thick;
        padding-bottom: $module-vspace--thick;
      }
    }
    .nav--site {
      @include fit-and-center($layout-width);
      padding-bottom: $module-vspace;
    }
  }
  &--footer {
    padding-top: 60px;
    background: #222;
    @include font-size(14px);
    .pane_inner {
      @include fit-and-center($layout-width);
    }
    .module {
      padding-bottom: 60px;
      &_title {
        margin-bottom: 20px;
        @include font-size(20px);
        font-weight: normal;
        text-transform: uppercase;
      }
      &_introduction {
        display: none;
      }
      &-links {
        text-transform: uppercase;
      }
      &-subscribe {
        &_table-label,
        &_mailing-list,
        .CaptchaContainer,
        .module_actions {
          display: none;
        }
        &_mailing-list--revealed {
          display: table;
        }
        .module_actions--revealed {
          display: block;
        }
      }
      li {
        margin-bottom: 5px;
      }
    }
    .button {
      color: $light-color;
      border: none;
      background-color: $brand-color;
    }
  }
  &--credits {
    padding-bottom: 40px;
    background: #222;
    text-align: center;
    color: #707070;
    @include font-size(12px);
    a {
      color: #707070;
    }
    .pane_inner {
      @include fit-and-center($layout-width);
    }
    .module {
      margin-bottom: 10px;
    }
  }
}

.overview {
  p {
    margin-bottom: 40px;
  }
  &_hidden {
    display: none;
  }
  &_button {
    &:before {
      content: "Read More";
    }
    &--active:before {
      content: "Show Less";
    }
  }
}