/*==================================
 ------------ BLANK CSS -----------
==================================*/

/*-------- Layout Specific -------*/

.layout {
  &--home {
    .pane--content {
      text-align: center;
    }
  }
  &.js--mobile {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }
}

/*--------- Pane Specific --------*/

.pane {
  &--header {
    position: relative;
    background-color: $light-color;
    z-index: 10;
    .pane_inner {
      @include fit-and-center($layout-width);
    }
    .module-logo img {
      margin-bottom: -10px;
    }
    .module, .nav {
      vertical-align: baseline;
    }
    .layout_toggle {
      display: none;
      @include font-size(36px);
      text-align: right;
      i {
        &:focus {
          outline: none;
        }
        @at-root .js--mobile & {
          &:before {
            content: "\ed6d";
          }
        }
      }
    }
    // Mobile Styles
    @include layout-legacy {
      .pane_inner {
        height: $mobile-header-height;
        padding-top: 20px;
      }
      .module {
        vertical-align: middle;
      }
      .module-logo img {
        margin-bottom: 0;
      }
      .layout_toggle {
        display: inline-block;
      }
      .nav, .module-search {
        display: none;
      }
    }
  }
  &--banner {
    background: rgba(0,0,0,0.1) url($host+'/files/design/banner/q4-tall-banner.jpg') 50% 85%;
    color: #fff;
    .pane_inner {
      position: relative;
      @include fit-and-center($layout-width);
      padding: 50px 0;
    }
    @include layout-legacy {
      text-align: center;
    }
  }
  &--navigation {
    // Desktop Style
    background: $brand-color;
    .pane_inner {
      @include fit-and-center($layout-width);
      @include layout-legacy {
        max-width: none;
      }
    }
    .module-search {
      display: none;
    }
    // Mobile Styles
    @include layout-legacy {
      position: absolute;
      top: -100%;
      left: 0;
      right: 0;
      bottom: 100%;
      transition: 0.5s ease-in-out;
      overflow-y: scroll;
      z-index: 5;
      @at-root .js--mobile & {
        top: $mobile-header-height;
        bottom: 0;
      }
      .pane_inner {
        padding: 0;
      }
      .module-search {
        display: block;
        &_input {
          width: 100%;
          max-width: none;
          padding: 20px;
          border: none;
          background-color: darken($brand-color, 7.5%);
          color: #fff;
          text-transform: uppercase;
          /// For some reason, these have to be separated
          &::-webkit-input-placeholder {
            color: rgba($light-color, 1);
          }
          &::-moz-placeholder {
            color: rgba($light-color, 1);
          }
          &::-ms-input-placeholder {
            color: rgba($light-color, 1);
          }
        }
        &_button {
          top: 20px;
          right: 20px;
          background-position: 0 -100%;
        }
      }
    }
  }
  &--content {
    padding-top: $module-vspace;
    padding-bottom: $module-vspace;
    .module {
      padding-top: $module-vspace;
      padding-bottom: $module-vspace;
      &_container {
        &--outer { 
          @include fit-and-center($layout-width);
        }
      }
      &--thin {
        padding-top: $module-vspace--thin;
        padding-bottom: $module-vspace--thin;
      }
      &--thick {
        padding-top: $module-vspace--thick;
        padding-bottom: $module-vspace--thick;
      }
    }
  }
  &--footer {
    padding-top: 60px;
    background: #222;
    @include font-size(14px);
    .pane_inner {
      @include fit-and-center($layout-width);
    }
    .module {
      // Module Titles
      &_title {
        margin-bottom: 20px;
        @include font-size(20px);
        font-weight: normal;
        text-transform: uppercase;
      }
      &_error-container {
        margin-bottom: 20px;
      }
      &_introduction {
        display: none;
      }
      // Quick Links
      &-links {
        text-transform: uppercase;
        li {
          margin-bottom: 5px;
        }
      }
      // Mailing List Signup
      &-subscribe {
        &_email label, &_list-header,
        &_email .module_required,
        &_mailing-list,
        .CaptchaContainer,
        .module_actions {
          display: none;
        }
        &_form {
          tbody {
            display: block;
          }
          tr {
            width: 100%;
            margin: 0;
          }
        }
        &_mailing-list {
          margin: 20px 0 10px;
        }
        &_list {
          & > td {
            padding: 0;
          }
        }
        input[type="checkbox"] {
          border-color: $light-color;
        }
        &_mailing-list.js--revealed,
        .module_actions.js--revealed {
          display: block;
        }
      }
      &_input[type="text"] {
        max-width: 300px;
      }
      // IR Contact
      &-contact {
        li {
          margin-bottom: 5px;
        }
      }
    }
    .module:not(.module-embed) {
      padding-bottom: 60px;
    }
    .button {
      color: $light-color;
      border: none;
      background-color: $brand-color;
    }
  }
  &--credits {
    padding-bottom: 40px;
    background: #222;
    text-align: center;
    color: #707070;
    @include font-size(12px);
    a {
      color: #707070;
    }
    .pane_inner {
      @include fit-and-center($layout-width);
    }
    .module {
      margin-bottom: 10px;
    }
  }
}

/*--------- Page Specific --------*/

.page--no-padding {
  .pane {
    &--content {
      padding: 0;
    }
  }
}

/*-------- Module Specific -------*/

.module-overview {
  p {
    margin-bottom: 40px;
  }
  &_hidden {
    display: none;
    &.js--revealed {
      display: block;
    }
  }
  &_button {
    &:before {
      content: "Read More";
    }
    &.js--active:before {
      content: "Show Less";
    }
  }
}