/*==================================
 ------------ BLANK CSS -----------
==================================*/

.layout {
  &--home {
    .pane--content {
      text-align: center;
    }
  }
}

.pane {
  &--header {
    .pane_inner {
      max-width: $layout-width;
      margin-left: auto;
      margin-right: auto;
    }
    .module-logo img {
      margin-bottom: -10px;
    }
    .module, .nav {
      vertical-align: baseline;
    }
    .nav {
      text-align: right;
      li {
        display: inline-block;
        a {
          display: block;
          padding: 50px 15px 30px;
          color: #333;
          font-weight: normal;
        }
        &.selected a,
        a:hover,
        a:focus {
          padding: 50px 15px 28px;
          border-bottom: 2px solid #0F5CA3;
          color: #0F5CA3;
          outline: none;
        }
      }
    }
    .module-navigation_close,
    .mobile-toggle {
      display: none;
    }
  }
  &--banner {
    background: rgba(0,0,0,0.1) url('https://s21.q4cdn.com/721433817/files/design/product-service-section-bg.jpg') 50% 85%;
    color: #fff;
    .pane_inner {
      position: relative;
      max-width: $layout-width;
      margin-left: auto;
      margin-right: auto;
      padding: 50px 0;
    }
    .module-breadcrumb {
      .module_title {
        @include font-size(50px);
      }
      .module_container--inner {
        display: none;
      }
    }
  }
  &--navigation {
    background: $brand-color;
    .pane_inner {
      max-width: $layout-width;
      margin-left: auto;
      margin-right: auto;
    }
    .nav {
      max-width: $layout-width;
      margin-left: auto;
      margin-right: auto;
      background: $brand-color;
      text-align: center;
      .level1 {
        display: table;
        width: 100%;
        li {
          position: relative;
          display: table-cell;
          a {
            display: block;
            padding: 20px;
            @include font-size(14px);
            color: #fff;
            &:hover, &:focus {
              outline: none;
              background: #005995;
            }
          }
          &.selected {
            a {
              background: #005995;
            }
          }
        }
      }
      .level2 {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-top: 2px solid #fff;
        li {
          display: block;
          text-align: left;
          a {
            background: #005995;
            &:hover, &:focus {
              outline: none;
              background: $brand-color;
            }
          }
          &.selected {
            a {
              background: $brand-color;
            }
          }
        }
      }
    }
  }
  &--content {
    .module {
      padding-top: $module-vspace;
      padding-bottom: $module-vspace;
      &_container {
        &--outer { 
          max-width: $layout-width;
          margin-left: auto;
          margin-right: auto;
        }
      }
      &--thin {
        padding-top: $module-vspace--thin;
        padding-bottom: $module-vspace--thin;
      }
      &--thick {
        padding-top: $module-vspace--thick;
        padding-bottom: $module-vspace--thick;
      }
    }
    .nav--site {
      max-width: $layout-width;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: $module-vspace;
    }
  }
  &--footer {
    padding-top: 60px;
    background: #222;
    @include font-size(14px);
    .pane_inner {
      max-width: $layout-width;
      margin-left: auto;
      margin-right: auto;
    }
    .module {
      margin-bottom: 60px;
      &_title {
        margin-bottom: 20px;
        @include font-size(20px);
        font-weight: normal;
        text-transform: uppercase;
      }
      &_introduction {
        display: none;
      }
      &-links {
        text-transform: uppercase;
      }
      &-subscribe {
        &_table-label,
        &_mailing-list,
        .CaptchaContainer,
        .module_actions {
          display: none;
        }
        &_mailing-list--revealed {
          display: table;
        }
        .module_actions--revealed {
          display: block;
        }
      }
      li {
        margin-bottom: 5px;
      }
    }
  }
  &--credits {
    padding-bottom: 40px;
    background: #222;
    text-align: center;
    color: #707070;
    @include font-size(12px);
    a {
      color: #707070;
    }
    .pane_inner {
      max-width: $layout-width;
      margin-left: auto;
      margin-right: auto;
    }
    .module {
      margin-bottom: 10px;
    }
  }
}

.overview {
  p {
    margin-bottom: 40px;
  }
  &_hidden {
    display: none;
  }
  &_button {
    &:before {
      content: "Read More";
    }
    &--active:before {
      content: "Show Less";
    }
  }
}