/*==================================
 --------- DEFAULT STYLES ---------
==================================*/

body {
  overflow-x: hidden;
  color: $body-color;
}

/*---------- TYPOGRAPHY ----------*/

h1 {
  @include font-size(48px);
  @include property-with-rem(margin-bottom, 3rem);
  @include property-with-rem(line-height, 3.5rem);
  @include layout-small {
    @include font-size(40px);
    @include property-with-rem(line-height, 3rem);
  }
}
h2 {
  @include font-size(36px);
  margin-bottom: 2.5rem;
}
h3 {
  @include font-size(24px);
  margin: 1.5rem 0 1rem;
  color: #006fba;
}
h4 {
  @include font-size(16px);
  @include property-with-rem(margin-top, 1.5rem);
  @include property-with-rem(margin-bottom, 1rem);
  font-weight: bold;
  text-transform: uppercase;
}
h5 {
  @include font-size(calculatePixels(0.8rem));
  @include property-with-rem(margin-bottom, 0.8rem);
  text-transform: uppercase;
}
a {
  text-decoration: none; 
  color: $brand-color;
}
p {
  @include property-with-rem(line-height, 1.5rem);
}
i {
  display: inline-block;
}

strong {
  font-weight: bold;
}
em {
  font-style: italic;
}

/*------------ COMMON ------------*/

img {
  max-width: 100%;
}

input {
  &[type="checkbox"] {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 10px;
    width: 10px;
    margin: 0 5px 0 0;
    border: 1px solid;
    border-color: $body-color;
    vertical-align: baseline;
    cursor: pointer;
    &:checked  {
      border: 3px solid;
    }
    &:focus {
      outline: none;
    }
  }
  &[type="checkbox"] + label {
    display: inline-block;
    @include font-size(14px);
    vertical-align: baseline;
    cursor: pointer;
  }
  // Microsoft Edge cosmetic close
  &::-ms-clear {
    display: none;
  }
}

/*---------- Q4 SPECIFIC ---------*/

.PreviewToolBar {
  display: none;
}
body.PreviewBody {
  margin: 0;
  background-position: 0;
}

/*------- HACKS AND FIXES -------*/

.clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

/*------------ LISTS ------------*/

.list {
  margin: 1rem 0;
  padding-left: 2rem;
  list-style-type: disc;
  li {
    line-height: 1.5rem;
  }
  &--ordered {
    list-style-type: decimal;
  }
  &--alpha {
    list-style-type: lower-alpha;
  }
  &--roman {
    list-style-type: lower-roman;
  }
  &--inside {
    list-style-position: inside;
  }
}

/*------- BUTTONS / INPUTS -------*/

.input, .textarea, .dropdown, .upload, .submit, .button {
  display: inline-block;
  max-width: 100%;
  // Overwrite Browser rendering different heights (IE11)
  // @include property-with-rem(height, 3.5rem);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 15px 20px;
  background: transparent;
  border: 2px solid $brand-color;
  border-radius: 0;
  font-family: $body-font;
  @include font-size(14px);
  font-weight: normal;
  &::-ms-clear {
    display: none;
  }
}

.submit, .button, .upload, .dropdown {
  cursor: pointer;
}

.submit, .button {
  text-transform: uppercase;
}

.textarea {
  width: 100%;
  resize: vertical;
}

.upload {
  line-height: 0;
}

.button {
  transition: 0.3s ease-in-out;
  &:hover {
    background: $brand-color;
    color: $light-color;
  }
  &--inverted {
    background: $brand-color;
    color: $light-color;
    &:hover {
      background: transparent;
      color: $brand-color;
    }
  }
  &--dark {
    border: 2px solid $light-color;
    color: $light-color;
    &:hover {
      background: $light-color;
      color: $dark-color;
    }
  }
}

.dropdown {
  padding: 15px 35px 15px 20px;
  background: transparent url($host+'/files/design/svg/q4-icon_chevron-down-black.svg') no-repeat right 10px center;
  background-size: 14px 14px;
  &::-ms-expand {
    display: none;
  }
}

/*------------ TABLES ------------*/

.table {
  width: 100%;
  margin: calculatePixels(1rem) 0;
  thead {
    background-color: $brand-color;
    th {
      text-align: left;
    }
  }
  tr:nth-child(even) {
    background-color: $grey-color;
  }
  th, td, tr > .grid_col {
    margin: 0;
    padding: 15px 8px;
  }
  th {
    color: $light-color;
  }
  &--headless {
    tr {
      &:nth-child(even) {
        background-color: transparent;
      }
      &:nth-child(odd) {
        background-color: $grey-color;
      }
      &:first-child {
        background-color: $brand-color;
        text-align: left;
        td {
          color: $light-color;
        }
      }
    }
  }
  &--responsive {
    @include layout-small {
      thead {
        display: none;
      }
      tbody {
        border-top: 2px solid $brand-color;
        border-bottom: 2px solid $brand-color;
      }
      td {
        display: block;
        &:before {
          content: attr(data-heading) ": ";
          font-weight: bold;
        }
      }
    }
  }
}

/*--------- SPECIAL BOXES --------*/

.code {
  margin: calculatePixels(2rem) 0;
  padding: 20px 15px;
  background: $grey-color;
  border-left: 3px solid rgba($brand-color, 0.5);
  font-family: monospace, serif;
  @include font-size(14px);
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  overflow: hidden;
  &_comment {
    opacity: 0.5;
  }
}

.quote {
  margin: calculatePixels(2rem) 0;
  padding: 20px 15px;
  background: $grey-color;
  border-left: 3px solid rgba($brand-color--alt, 0.5);
  @include font-size(14px);
  font-style: italic;
  p:before {
    margin-right: 5px;
    @include icon('eb1b');
  }
  p:after {
    margin-left: 5px;
    @include icon('eb1c');
  }
}