/*==================================
 --------- DEFAULT STYLES ---------
==================================*/

body {
  overflow-x: hidden;
  color: $body-color;
}

/*---------- TYPOGRAPHY ----------*/

h1 {
  @include font-size(48px);
  margin-bottom: 3rem;
  line-height: 3.5rem;
  @include layout-small {
    @include font-size(40px);
    line-height: 3rem;
  }
}
h2 {
  @include font-size(36px);
  margin-bottom: 2.5rem;
}
h3 {
  font-size: 1.5rem;
  margin: 1.5rem 0 1rem;
  color: #006fba;
}
h4 {
  font-size: 1rem;
  margin: 1.5rem 0 1rem;
  font-weight: bold;
  text-transform: uppercase;
}
h5 {
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
  text-transform: uppercase;
}
a, a:visited {
  text-decoration: none; 
  color: $brand-color;
}
p {
  line-height: 1.5rem;
}
i {
  display: inline-block;
}

strong {
  font-weight: bold;
}
em {
  font-style: italic;
}

/*------------ COMMON ------------*/

img {
  max-width: 100%;
}

input[type="checkbox"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 0 5px 0 0;
  border: 1px solid;
  border-color: $body-color;
  vertical-align: baseline;
  &:checked  {
    border: 3px solid;
  }
  &:focus {
    outline: none;
  }
}
input[type="checkbox"] + label {
    display: inline-block;
    @include font-size(14px);
    vertical-align: baseline;
}

/*---------- Q4 SPECIFIC ---------*/

.PreviewToolBar {
  display: none;
}
body.PreviewBody {
  margin: 0;
  background-position: 0;
}

/*------------ BLOCKS ------------*/

.list {
  margin: 1rem 0;
  padding-left: 2rem;
  list-style-type: disc;
  li {
    line-height: 1.5rem;
  }
  &--ordered {
    list-style-type: decimal;
  }
  &--alpha {
    list-style-type: alpha;
  }
  &--roman {
    list-style-type: lower-roman;
  }
  &--inside {
    list-style-position: inside;
  }
}

.button {
  display: inline-block;
  width: auto;
  padding: 15px 30px;
  background: transparent;
  border: 2px solid $brand-color;
  @include font-size(14px);
  color: $brand-color;
  font-weight: normal;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    background: $brand-color;
    color: $light-color;
  }
  &--inverted {
    background: $brand-color;
    color: $light-color;
    &:hover {
      background: transparent;
      color: $brand-color;
    }
  }
  &--dark {
    border: 2px solid $light-color;
    color: $light-color;
    &:hover {
      background: $light-color;
      color: $dark-color;
    }
  }
}

.dropdown {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 15px 35px 15px 20px;
  border: 2px solid $brand-color;
  border-radius: 0;
  background: transparent url($host+'/files/design/svg/q4-icon_chevron-down-black.svg') no-repeat right 10px center;
  background-size: 14px 14px;
  @include font-size(14px);
  font-weight: normal;
  text-transform: uppercase;
  &::-ms-expand {
    display: none;
  }
}

.table {
  width: 100%;
  thead {
    background-color: $brand-color;
    text-align: left;
  }
  tr:nth-child(even) {
    background-color: $grey-color;
  }
  th, td, tr > .grid_col {
    margin: 0;
    padding: 15px 8px;
  }
  th {
    color: $light-color;
  }
  &--headless {
    tr:first-child {
      background-color: $brand-color;
      text-align: left;
      td {
        color: $light-color;
      }
    }
  }
  &--responsive {
    @include layout-small {
      thead {
        display: none;
      }
      tbody {
        border-top: 2px solid $brand-color;
        border-bottom: 2px solid $brand-color;
      }
      td {
        display: block;
        &:before {
          content: attr(data-heading);
          font-weight: bold;
        }
      }
    }
  }
}

.pre {
  margin: 2rem 0;
  padding: 20px 15px;
  background: $grey-color;
  border-left: 3px solid rgba($brand-color, 0.5);
  font-family: monospace, serif;
  @include font-size(14px);
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  overflow-x: scroll;
}

.quote {
  margin: 2rem 0;
  padding: 20px 15px;
  background: $grey-color;
  border-left: 3px solid rgba($alt-brand-color, 0.5);
  @include font-size(14px);
  font-style: italic;
  p:before {
    margin-right: 5px;
    @include icon('\eb1b');
  }
  p:after {
    margin-left: 5px;
    @include icon('\eb1c');
  }
}