/*==================================
 --------- DEFAULT STYLES ---------
==================================*/

body {
  overflow-x: hidden;
  color: $body-color;
}

/*---------- TYPOGRAPHY ----------*/

h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
}
h2 {
  @include font-size(36px);
  margin-bottom: 40px;;
}
h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #006fba;
}
h4 {
  font-size: 1rem;
  margin: 1.5rem 0;
  font-weight: bold;
  text-transform: uppercase;
}
h5 {
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
  text-transform: uppercase;
}
a, a:visited {
  text-decoration: none; 
  color: $brand-color;
}
p {
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

strong {
  font-weight: bold;
}
em {
  font-style: italic;
}

/*------------ COMMON ------------*/

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

input[type="text"], input[type="textarea"] {
  width: 100%;
  max-width: 300px;
  padding: 15px;
  border: 1px solid #dfdfdf;
  @include font-size(14px);
}
input[type="checkbox"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  display: inline-block;
  height: 0.7rem;
  width: 0.65rem;
  margin: 0 5px 0 0;
  border: 1px solid $light-color;
  vertical-align: baseline;
  &:checked  {
    border: 3px solid $light-color;
  }
  &:focus {
    outline: none;
  }
}
input[type="checkbox"] + label {
    display: inline-block;
    vertical-align: baseline;
}
pre {
  margin: 2rem 0;
  padding: 20px 15px;
  background: $grey-color;
  border-left: 3px solid rgba($brand-color, 0.5);
  font-family: monospace, serif;
  @include font-size(14px);
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
}


/*---------- Q4 SPECIFIC ---------*/

.PreviewToolBar {
  display: none;
}
body.PreviewBody {
  margin: 0;
  background-position: 0;
}

/*------------ BLOCKS ------------*/

.button {
  display: inline-block;
  width: auto;
  padding: 15px 30px;
  background: transparent;
  border: 2px solid $brand-color;
  @include font-size(14px);
  color: $brand-color;
  font-weight: normal;
  text-transform: uppercase;
  cursor: pointer;
  &--dark {
    border: 2px solid $light-color;
    color: $light-color;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 15px 35px 15px 20px;
  border: 2px solid $brand-color;
  border-radius: 0;
  background: transparent url($host+'/files/design/svg/q4-icon_select--black.svg') no-repeat right 10px center;
  background-size: 14px 14px;
  @include font-size(14px);
  font-weight: normal;
  text-transform: uppercase;
  &::-ms-expand {
    display: none;
  }
}

.table {
  width: 100%;
  thead {
    background-color: $brand-color;
    text-align: left;
  }
  tbody {
    border-top: 1px solid rgba($dark-color, 0.1);
    border-bottom: 1px solid rgba($dark-color, 0.1);
  }
  tr:nth-child(even) {
    background-color: rgba($dark-color, 0.05);
  }
  th, td, tr > .grid_col {
    margin: 0;
    padding: 15px 8px;
  }
  th {
    color: $light-color;
  }
  &--headless {
    tr:first-child {
      background-color: $brand-color;
      text-align: left;
      td {
        color: $light-color;
      }
    }
  }
}

.accordion {
  &_trigger {
    &:focus {
      outline: none;
    }
  }
  &_panel {
    display: none;
  }
}