/*==================================
 ----------- MODULE CSS -----------
==================================*/

.module {
  &_header, &_back-to-top, &_anchor-target,
  &_file-size, &_file-type, &_file-text,
  &_view-all-link {
    display: none;
  }
  &_headline, &_location, &_speakers,
  &_links, &_body, &_add-to-calendar, &_error-container {
    margin-bottom: 15px;
  }
  &_item {
    padding: 15px 0;
    & ~ .module_item {
      border-top: 1px solid rgba(0,0,0,0.1);
    }
  }
  &_nav {
    margin-bottom: 10px;
    &-link, .ModuleYearLink {
      display: inline-block;
      margin-right: 5px;
      padding: 15px 20px;
      border: 2px solid $brand-color;
      color: $body-color;
      font-weight: normal;
      &.selected {
        background-color: $brand-color;
        color: #fff;
      }
    }
  }
  &_title {
    text-transform: uppercase;
  }
  &_rss {
    float: right;
  }
  &_date-time {
    margin-bottom: 5px;
    @include font-size(14px);
  }
  &_headline {
    font-weight: normal;
    &-link, &-link:visited {
      color: $body-color;
    }
  }
  &_speakers {
    li {
      margin-bottom: 5px;
    }
  }
  &_links {
    > *, li, .module_presentation {
      display: inline-block;
    }
  }
  &_link {
    display: inline-block;
    margin: 0 10px 5px 0;
    @include font-size(14px);
    font-weight: bold;
    text-transform: uppercase;
    &:before {
      margin-right: 5px;
    }
  }
  &_view-all-link {
    @include font-size(14px);
    font-weight: bold;
    text-transform: uppercase;
  }
  &_required, &_error-container {
    color: $error-color;
  }
  &_reminder {
    &-error, &-success {
      display: block;
      margin: 15px 0 0;
      font-style: italic;
      //override backend functionality
      &[style$="hidden;"] {
        display: none;
      }
    }
    &-error {
      color: $error-color;
    }
    &-success {
      color: $success-color;
    }
  }

  &-event {
    .module {
      &_location, &_speakers h4, &_body {
        display: none;
      }
    }

  }

  &-downloads {
    &_thumbnail, &_description, &_date {
      display: none;
    }
    &_title {
      &:after {
        font-family: $icon-font;
        content: "\e902";
        display: inline-block;
        float: right;
        cursor: pointer;
      }
    }
  }

  &-navigation {
    &_close {
      display: none;
      @include layout-medium {
        display: inline-block;
      }
    }
  }

  &-person {
    &_description, &_res-photo-container,
    .module_comma {
      display: none;
    }
    .module_item {
      position: relative;
      padding: 0 0 20px 20px;
      border: none;
      &:hover {
        .module-person_name-container {
          opacity: 1;
        }
      }
    }
    &_name-container {
      position: absolute;
      top: 0; right: 0; bottom: 20px; left: 20px;
      background: rgba(0,0,0,0.6);
      opacity: 0;
      text-align: center;
      h3 {
        position: relative;
        top: 50%;
        margin: 0;
        transform: translate(0,-50%);
      }
      a {
        color: #fff;
      }
    }
    &_name {
      display: block;
      @include font-size(18px);
      text-transform: uppercase;
    }
    &_suffix, &_title {
      @include font-size(13px);
    }

    &-details {
      .module_title {
        display: none;
      }
      .module_comma {
        display: none;
      }
      &_photo-container, &_name-container {
        display: inline-block;
        vertical-align: middle;
      }
      &_photo-container {
        max-width: 30%;
        margin-right: 40px;
      }
      &_name {
        display: block;
        margin-bottom: 10px;
        @include font-size(36px);
        color: $brand-color;
      }
      &_title {
        display: block;
        @include font-size(24px);
      }
      &_description-container {
        margin-top: 40px;
      }
    }
  }

  &-skip {
    &_link {
      position: absolute;
      top: -50px;
      left: 50%;
      width: 200px;
      padding: 15px 15px;
      margin-left: -100px;
      background: transparent;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      color: white;
      text-align: center;
      -webkit-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      z-index: 100;
    }
    &_link:focus,
    &_link:active,
    &_link:hover {
      top: 0;
      background: #0F5CA3;
      outline:0;
    }
    &_link:visited {
      color: #fff;
    }
  }

  &-search {
    position: relative;
    text-align: right;
    &_input[type="text"] {
      display: inline-block;
      width: 90%;
      padding: 7px;
    }
    &_button {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 15px;
      height: 15px;
      padding: 0;
      border: 0;
      background: #fff url($host+'/Projects/blank/icon-search.svg');
      background-size: contain;
      font-size: 0;
      cursor: pointer;
    }
  }

  &-script {
    display: none;
  }

  &-stock-header {
    text-align: right;
    .module_container--outer {
      display: inline-block;
      padding: 40px 60px;
      background: rgba(0,0,0,0.6);
      text-align: center;
    }
    &_description1 {
      display: block;
      font-weight: bold;
      margin-bottom: 1rem;
    }
    &_stock-price {
      &:before {
        content: '$';
      }
      display: block;
      margin-bottom: 0.5rem;
      @include font-size(45px);
      color: #fff;
    }
    &_change,
    &_percent-change {
      display: inline-block;
      margin-bottom: 1.5rem;
      @include font-size(20px);
    }
    &_percent-change {
      &:before {
        content: '(';
      }
      .module-stock-header_indicator {
        display: none;
      }
      &:after {
        content: ')';
      }
    }
    &_volume {
      &:before {
        content: 'Volume ';
        font-weight: bold;
      }
      display: block;
      margin-bottom: 2rem;
    }
    &_description3 {
      display: block;
      @include font-size(12px);
      color: #a9a9a9;
    }
    &_volume-text,
    &_date {
      display: none;
    }
  }

  &-subscribe {
    &_table {
      width: 100%;
      &-row {
        td {
          padding-bottom: 10px;
        }
      }
    }
    &_form {
      margin-bottom: 10px;
      td {
        display: inline-block;
        width: 100%;
      }
    }
    &_list {
      width: 100%;
    }
    .CaptchaContainer {
      display:none;
    }
  }
}