.module {
  &_container {
    &--outer {
      max-width: $layout-width;
      margin: 0 auto;
    }
  }
}

.nav--main {
  .level1 {
    > li {
      display: inline-block;
    }
  }
  .level2 {
    display: none;
    > li {
      display: block;
    }
  }

  li {
    a {
      display: block;
      padding: 50px 15px 30px;
      color: #333;
      font-weight: normal;
    }

    &.selected a,
    a:hover,
    a:focus {
      padding: 50px 15px 28px;
      border-bottom: 2px solid #0F5CA3;
      color: #0F5CA3;
    }
  }
}