/// Local environment URL
$host: 'https://q4blankdev.s3.q4web.com' !default;

/// The default layout width for the site.
/// @example 
/// .module_container--outer {
///   max-width: $layout-width;
///   margin: 0 auto;
/// }
$layout-width: 940px !default;

$layout-large: 1200px !default;
$layout-legacy: 1024px !default;
$layout-medium: 768px !default;
$layout-small: 480px !default;

/// The default height of the header in mobile view
$mobile-header-height: 100px !default;

/// The default vertical spacing between modules within the content pane
$module-vspace: 35px !default;

/// The thin vertical spacing between modules within the content pane
$module-vspace--thin: 15px !default;

/// The thick vertical spacing between modules within the content pane
$module-vspace--thick: 70px !default;


/// The default font family for the site.
$body-font: 'Open Sans', sans-serif !default;

/// The default font size for the site.
$body-size: 16px !default;

/// The default icon font on the site (icomoon).
$icon-font: 'q4-icons' !default;


/// The default colour for text on the site
$body-color: #333333 !default;

/// The default brand colour for the site.
$brand-color: #006fba !default;

/// The alternate default brand colour for the site
$alt-brand-color: #f1af0f !default;

/// The default light text colour for the site.
$light-color: #fff !default;

/// The default grey text colour for the site.
$grey-color: #f6f6f6 !default;

/// The default dark text colour for the site.
$dark-color: #222 !default;

/// The default colour for error messages.
$error-color: #b72121 !default;

/// The default colour for success messages.
$success-color: #23a217 !default;