/// Local environment URL
$host: 'http://192.168.2.199:8888/' !default;

/// The default layout width for the site.
/// @example 
/// .module_container--outer {
///   max-width: $layout-width;
///   margin: 0 auto;
/// }
$layout-width: 940px !default;

$layout-large: 1200px !default;
$layout-legacy: 1024px !default;
$layout-medium: 768px !default;
$layout-small: 480px !default;

/// The default font family for the site.
$body-font: 'Open Sans', sans-serif !default;

/// The default font size for the site.
$body-size: 16px !default;

/// The default icon font on the site (icomoon).
$icon-font: 'q4icons' !default;


/// The default colour for text on the site
$body-color: #333333 !default;

/// The default brand colour for the site.
$brand-color: #006fba !default;

/// The default colour for error messages.
$error-color: #b72121 !default;

/// The default colour for success messages.
$success-color: #23a217 !default;