// Welcome to the master stylesheet for client.css
// Please choose @imports from the following list:
// @import url(http://blank1.dev/css/client_master.css);
@import '_variables';
@import '_mixins';
@import 'plugins/_icons';
@import 'plugins/_slick';
@import 'plugins/_fancybox';
@import 'plugins/_jquery-ui';