/*==================================
 ------------ RESET CSS -----------
==================================*/
html, body, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Negative Margin Fix for Toast Columns */
html, .col {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

/*==================================
 --------- DEFAULT STYLES ---------
==================================*/
body {
  overflow-x: hidden;
}

/*---------- TYPOGRAPHY ----------*/
h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

h2 {
  font-size: 2.25rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  color: #006fba;
}

h4 {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

h5 {
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
  text-transform: uppercase;
}

a, a:visited {
  text-decoration: none;
  color: #0F5CA3;
}

p {
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

/*------------ COMMON ------------*/
ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

/*==================================
 --------- UTILITY CLASSES --------
==================================*/
.hidden {
  display: none !important;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.right {
  float: right;
}

.left {
  float: left;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.background-cover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-brand {
  background-color: #006fba;
}

.background-dark {
  background-color: #222222;
}

.background-grey {
  background-color: #ececec;
}

.dark {
  color: #fff;
}

/*==================================
 --------- ACCESSIBILITY ----------
==================================*/
a:focus {
  text-decoration: underline !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

#maincontent:focus {
  outline: 0px;
}

/*------- SKIP LINK MODULE -------*/
.module-skip_link {
  position: absolute;
  top: -50px;
  left: 50%;
  width: 200px;
  padding: 15px 15px;
  margin-left: -100px;
  background: transparent;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: white;
  text-align: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  z-index: 100;
}
.module-skip_link:focus, .module-skip_link:active, .module-skip_link:hover {
  top: 0;
  background: #0A457B;
  outline: 0;
}
.module-skip_link:visited {
  color: #fff;
}

.module_container--outer {
  max-width: 940px;
  margin: 0 auto;
}

.nav--main .level1 > li {
  display: inline-block;
}
.nav--main .level2 {
  display: none;
}
.nav--main .level2 > li {
  display: block;
}
.nav--main li a {
  display: block;
  padding: 50px 15px 30px;
  color: #333;
  font-weight: normal;
}
.nav--main li.selected a,
.nav--main li a:hover,
.nav--main li a:focus {
  padding: 50px 15px 28px;
  border-bottom: 2px solid #0F5CA3;
  color: #0F5CA3;
}

/*# sourceMappingURL=global.css.map */
