.gnw_table_border_collapse td.gnw_heading,
.gnw_heading {
    font: 16px Arial;
    text-align: center
}

.gnw_table_border_collapse td.gnw_subhead,
.gnw_subhead {
    font: 12px Arial;
    text-align: center
}

.gnw_table_border_collapse td.gnw_colhead,
.gnw_colhead {
    font: 12px Arial;
    text-align: center
}

.gnw_table_border_collapse td.gnw_colhead_uline,
.gnw_colhead_uline {
    font: 12px Arial;
    text-align: center;
    border-bottom: solid black 1.0pt;
}

.gnw_table_border_collapse td.gnw_colhead_dline,
.gnw_colhead_dline {
    font: 12px Arial;
    text-align: center;
    border-bottom: double black 2.5pt;
}

.gnw_table_border_collapse td.gnw_label,
.gnw_label {
    font: 12px Arial;
    vertical-align: bottom;
    text-align: left
}

.gnw_table_border_collapse td.gnw_label_uline,
.gnw_label_uline {
    font: 12px Arial;
    vertical-align: bottom;
    text-align: left;
    border-bottom: solid black 1.0pt;
}

.gnw_table_border_collapse td.gnw_label_uline_i10,
.gnw_label_uline_i10 {
    font: 12px Arial;
    vertical-align: bottom;
    text-align: left;
    border-bottom: solid black 1.0pt;
    padding-left: 10.0px;
}

.gnw_table_border_collapse td.gnw_label_uline_i15,
.gnw_label_uline_i15 {
    font: 12px Arial;
    vertical-align: bottom;
    text-align: left;
    border-bottom: solid black 1.0pt;
    padding-left: 15.0px;
}

.gnw_table_border_collapse td.gnw_label_uline_i20,
.gnw_label_uline_i20 {
    font: 12px Arial;
    vertical-align: bottom;
    text-align: left;
    border-bottom: solid black 1.0pt;
    padding-left: 20.0px;
}

.gnw_table_border_collapse td.gnw_label_uline_i25,
.gnw_label_uline_i25 {
    font: 12px Arial;
    vertical-align: bottom;
    text-align: left;
    border-bottom: solid black 1.0pt;
    padding-left: 25.0px;
}

.gnw_table_border_collapse td.gnw_label_uline_i30,
.gnw_label_uline_i30 {
    font: 12px Arial;
    vertical-align: bottom;
    text-align: left;
    border-bottom: solid black 1.0pt;
    padding-left: 30.0px;
}

.gnw_table_border_collapse td.gnw_label_dline_i10,
.gnw_label_dline_i10 {
    font: 12px Arial;
    vertical-align: bottom;
    text-align: left;
    border-bottom: double black 2.5pt;
    padding-left: 10.0px;
}

.gnw_table_border_collapse td.gnw_label_dline_i15,
.gnw_label_dline_i15 {
    font: 12px Arial;
    vertical-align: bottom;
    text-align: left;
    border-bottom: double black 2.5pt;
    padding-left: 15.0px;
}

.gnw_table_border_collapse td.gnw_label_dline_i20,
.gnw_label_dline_i20 {
    font: 12px Arial;
    vertical-align: bottom;
    text-align: left;
    border-bottom: double black 2.5pt;
    padding-left: 20.0px;
}

.gnw_table_border_collapse td.gnw_label_dline_i25,
.gnw_label_dline_i25 {
    font: 12px Arial;
    vertical-align: bottom;
    text-align: left;
    border-bottom: double black 2.5pt;
    padding-left: 25.0px;
}

.gnw_table_border_collapse td.gnw_label_dline_i30,
.gnw_label_dline_i30 {
    font: 12px Arial;
    vertical-align: bottom;
    text-align: left;
    border-bottom: double black 2.5pt;
    padding-left: 30.0px;
}

.gnw_table_border_collapse td.gnw_label_ulinetop,
.gnw_label_ulinetop {
    font: 12px Arial;
    vertical-align: bottom;
    text-align: left;
    border-top: solid black 1.0pt;
}

.gnw_table_border_collapse td.gnw_label_dline,
.gnw_label_dline {
    font: 12px Arial;
    vertical-align: bottom;
    text-align: left;
    border-bottom: double black 2.5pt;
}

.gnw_table_border_collapse td.gnw_label_i10,
.gnw_label_i10 {
    font: 12px Arial;
    vertical-align: bottom;
    text-align: left;
    padding-left: 10.0px;
}

.gnw_table_border_collapse td.gnw_label_i15,
.gnw_label_i15 {
    font: 12px Arial;
    vertical-align: bottom;
    text-align: left;
    padding-left: 15.0px;
}

.gnw_table_border_collapse td.gnw_label_i20,
.gnw_label_i20 {
    font: 12px Arial;
    vertical-align: bottom;
    text-align: left;
    padding-left: 20.0px;
}

.gnw_table_border_collapse td.gnw_label_i25,
.gnw_label_i25 {
    font: 12px Arial;
    vertical-align: bottom;
    text-align: left;
    padding-left: 25.0px;
}

.gnw_table_border_collapse td.gnw_label_i30,
.gnw_label_i30 {
    font: 12px Arial;
    vertical-align: bottom;
    text-align: left;
    padding-left: 30.0px;
}

.gnw_table_border_collapse td.gnw_num,
.gnw_num {
    font: 12px Arial;
    vertical-align: bottom;
    text-align: right;
    white-space: nowrap;
}

.gnw_table_border_collapse td.gnw_num_uline,
.gnw_num_uline {
    font: 12px Arial;
    vertical-align: bottom;
    text-align: right;
    white-space: nowrap;
    border-bottom: solid black 1.0pt;
}

.gnw_table_border_collapse td.gnw_num_ulinetop,
.gnw_num_ulinetop {
    font: 12px Arial;
    vertical-align: bottom;
    text-align: right;
    white-space: nowrap;
    border-top: solid black 1.0pt;
}

.gnw_table_border_collapse td.gnw_num_dline,
.gnw_num_dline {
    font: 12px Arial;
    vertical-align: bottom;
    text-align: right;
    white-space: nowrap;
    border-bottom: double black 2.5pt;
}

.gnw_table_border_collapse td.gnw_num_dlinetop,
.gnw_num_dlinetop {
    font: 12px Arial;
    vertical-align: bottom;
    text-align: right;
    white-space: nowrap;
    border-top: double black 2.5pt;
}

.gnw_table_border_collapse td.gnw_data,
.gnw_data {
    font: 12px Arial;
    vertical-align: bottom;
    text-align: left;
    white-space: nowrap;
}

.gnw_table_border_collapse td.gnw_data_uline,
.gnw_data_uline {
    font: 12px Arial;
    vertical-align: bottom;
    text-align: left;
    border-bottom: solid black 1.0pt;
}

.gnw_table_border_collapse td.gnw_data_dline,
.gnw_data_dline {
    font: 12px Arial;
    vertical-align: bottom;
    text-align: left;
    border-bottom: double black 2.5pt;
}

.gnw_news_media_box {
    margin-top: 15px;
    margin-left: 6px;
    margin-bottom: 6px;
    margin-right: 6px;
    border-width: 1px;
    border-color: #A9A9A9;
    border-style: solid;
}

.gnw_table_border_collapse td.gnw_media_caption,
.gnw_media_caption {
    font-size: 8pt;
    font-family: Verdana, Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}

.gnw_media_bgcolor {
    background-color: transparent
}

.gnw_table {
    border-collapse: separate;
    border-spacing: 6px
}

.gnw_table_border_collapse td.gnw_videotitle,
.gnw_videotitle {
    font: bold 12px Arial;
    color: #1d5296;
}

.gnw_border_top_solid {
    border-top: solid black 1px!important;
}

.gnw_border_right_solid {
    border-right: solid black 1px!important;
}

.gnw_border_bottom_solid {
    border-bottom: solid black 1px!important;
}

.gnw_border_left_solid {
    border-left: solid black 1px!important;
}

.gnw_border_top_double {
    border-top: double black 3px!important;
}

.gnw_border_right_double {
    border-right: double black 3px!important;
}

.gnw_border_bottom_double {
    border-bottom: double black 3px!important;
}

.gnw_border_left_double {
    border-left: double black 3px!important;
}

.gnw_table_border_collapse {
    border-collapse: collapse!important;
}

.gnw_table_border_collapse td {
    font-size: 12px;
}

.gnw_align_left {
    text-align: left!important;
}

.gnw_align_center {
    text-align: center!important;
}

.gnw_align_right {
    text-align: right!important;
}

.gnw_align_justify {
    text-align: justify!important;
}

.gnw_vertical_align_top {
    vertical-align: top!important;
}

.gnw_vertical_align_middle {
    vertical-align: middle!important;
}

.gnw_vertical_align_bottom {
    vertical-align: bottom!important;
}

.gnw_padding_left_none {
    padding-left: 0 !important;
}

.gnw_padding_right_none {
    padding-right: 0 !important;
}