$siteUrl: "";

// Need a better solution for the preview bar.
.PreviewToolBar {
	display: none;
}

/* Fonts */

/* Global */

body{
	color: #333333;
	width: 100%;
	
	&.PreviewBody {
		margin: 0;
	}
}

h1 {
	line-height: 1;
	font-weight: normal;
	color: #333333;
	margin: 0 0 20px;
	font-size: 42px;
}

h2 {
	line-height: 1.1;
	color: #333333;
	font-weight: normal;
	font-size: 30px;

	.ModuleTitle {
		display: block;
		padding-bottom: 30px;
		border-bottom: 1px solid #adadad;
		margin-bottom: 30px;
	}

}

h3 {
	line-height: 1.1;
	color: #333333;
	font-weight: normal;
	font-size: 26px;
	line-height: 37px;
}

a {
	color: #00acee;
}

/* Heade Area */

header {
	text-shadow: 0 -1px 0 rgba(0,0,0,.17);
  	background-color: #fff;
}

.PaneHeader {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.17);
	position: relative;
	z-index: 1001;
	background-color: #FFFFFF;

	&:after {
		display: table;
		content: " ";
		clear: both;
	}
	&:before{
		display: table;
		content: " ";
	}
}

.ClientLogo {
	float: left;

	a {
		text-decoration: none;
	}

	img {
		display: block;
	}
}


.ModuleSearch {
	float: right;
	position: relative;

	.SearchInput {
		border-color: #eee;
		font-size: 12px;
		padding: 6px;
		width: 200px;
	}

	.SearchButton {
		background-image: url($siteUrl+ "/files/icons/search-ico.png");
		background-color: transparent;
		background-repeat: no-repeat;
		display: block;
		overflow: hidden;
		font-size: 0;
		text-indent: -99999px;
		width: 20px;
		height: 20px;
		border: none;
		outline: none;
		position: absolute;
		right: 2px;
		top: 13px;
	}
}

/* Main Navigation Area */

.container {
    max-width: 939px;
    padding:0;
}

.navbar-toggle {
	background-color: #0e89ba;
	outline: none;
	padding: 7px 10px;

	.icon-bar {
		background-color: #fff; 
	}
}

.navbar {
	min-height: 0;
	border-radius: 0;
	margin: 0;
	border: none;
	background-color: #fff;
	font-size: 13px;
	
	.navSearch {
		display:none;
	}


	.navbar-collapse {
		padding: 0;
		max-height: none;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			float: left;
			padding: 0 15px;
			position: relative;
			height: 44px;
			border-left: 1px solid #eeeeee;
			border-right: 1px solid #eeeeee;

			&:last-child,
			&.expanded,
			&.selected {
				background-color: #e9e9e9;
				border-left: 1px solid #dbdbdb;
				border-right: 1px solid #dbdbdb;

				a {
					color: #226699;
					background-image: url($siteUrl+ "/files/icons/main_arrow.png");
					background-repeat: no-repeat;
					background-position: bottom center;
					padding-bottom: 22px;
				}
			}

			&:hover {
				background-color: #e9e9e9;
				border-left: 1px solid #dbdbdb;
				border-right: 1px solid #dbdbdb;
			}
		}

		a {
			padding: 14px 0 12px;
			display: block;
			color: #555555;
			text-decoration: none;
		}
	}
}

/*Breadcrumb*/

.LayoutHomePage .PaneBreadcrumb {
	display:none;
}

@media screen and (max-width: 768px) {
	.PaneHeader {
		box-shadow: none;

		.ModuleSearch {
			display:none;
		}
	}

	.navbar {
		border: 0;

		.container {
			padding: 0;
		}

		.navbar-toggle {
			margin: 5px 15px 0 0;
		}

		.ModuleSearch {
			float:none;
			width: 100%;
			padding: 10px 20px;
			background-color: #EEEEEE;
			border-bottom: 1px solid #DFDFDF;

			.SearchInput {
				width: 100%
			}
			.SearchButton {
				right: 22px;
				top: 18px;
			}
		}
		

		

		ul {
			li {
				border-left: none;
				border-right: none;

				margin-top: 1px;
				padding: 0 11px;
				float: none;

				&:last-child,
				&.selected {
					border-left: none;
					border-right: none;
					background: none;

					a {
						background: none;
						padding-bottom: 0;
					}
				}
			}
		}
	}
}

/* Screen size media query */

@media (min-width: 939px) {
	.LayoutTwoColumn {
		.PaneContent {
			width: 75%;
		}
	}
}

/* Left Navigation */

.bs-sidebar.affix {
	position: static;
}

.FooterNavigation {
	padding: 40px 20px 20px;

	ul {
		border-top: 1px solid #efefef;
	}
}


.PaneLeft,
.FooterNavigation nav {
	padding-left: 0;

	nav {
		font-size: 13px;

		a {
			outline: none;
			display: block;
			text-decoration: none;
			color: #23679a;
			padding: 3px 3px;

			&:hover{
				color: #23679a;
			}
		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;

			ul{
				padding: 0px 0 10px 10px;
				li a {
					color: #0193cc;
				}
			}
		}

		ul.level1 {

			& > li > a{
				border-top: 1px solid #efefef; 
				padding: 13px 0;
			}

			& > li:first-child > a{
				border-top: none;
			}

			.has-children {
				a {
					padding-bottom: 3px;
				}
			}
			
		}
	}
}



@media screen and (max-width: 939px) {
	.PaneLeft {
		display: none;
	}

	.FooterNavigation {
		display: block;
	}
} 

/* Right Pane */

.PaneRight {
	padding-right: 0;

	h1 {
		font-size: 24px;
		margin-bottom: 10px;
	}

	iframe {
		width: 100%;
		margin-top: 30px;
	}

	div.rightQL {
		border-top: 10px solid #e6e7e7;
		border-radius: 3px 3px 0 0;
		padding: 20px 10px 10px;

		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			font-size: 12px;
			font-weight: bold;

			li {
				color: #226699;
				padding: 5px 0;

				a {
					color: #226699;
				}
			}
		}
	}

	@media screen and (min-width: 939px) {
		div.rightQL {
			float: none;
		}

		.InvestorStock {
			.stockItem {
				border-left: none;
				padding: 20px 0px;
				width: auto;
				display: block;
				border-top: 1px solid #adadad;

			}
		}
	}

}

.LayoutTwoColumnLayout .PaneRight {
	float:right;
	width: 75%;
	
	@media screen and (min-width: 939px) {
		width: auto;
	}
}

/*  Page Level Section */

//FAQ

.FaqContainer {
	.FaqQuestionList,
	.BackToTopLink {
		display:none;
	}

	.FaqAnswer {
		border-top: 1px solid #E8E8E8;
		display: block;
		margin-bottom: 30px;
		padding: 10px 5px;
	}

	p {
		margin: 0;
	}

	h3 {
		font-weight: bold;
		font-size: 22px;
	}
}

// stock pages
.StockQuoteContainer {
	margin-bottom: 30px;

	.StockQuoteLookup {
		display: none;
	}

	.StockTableItem {
		font-size: 18px;

		p.weekLow,
		p.weekHigh,
		p.pcChange,
		p.pclose,
		p.change{
			display: none;
		}

		a {
			float: right;
		}

	}

	.StockTableText {
		padding-top: 30px;

		.StockTableTextLabel {
			padding-right: 15px;
		}
	}

}


// Historical
.StockHistorical {
	margin-bottom: 30px;
	.StockTable {
		a {
			float: right;
		}
	}
}


// Person List
.PersonGenericContainer {
	.commaSuffix,
	.commaName {
		display: none;
	}
	h3 {
		margin: 40px 0 10px;
	}
}

/* Footer Section */

footer {
	display:none;
	background-color: #f4f4f4;
	padding-top: 20px;

	div.FooterLinks {
		float: left;
		ul {
			list-style-type: none;
			margin: 0;

			li {
				display: inline-block;
				padding-right: 10px;
			}

		}
	}

	.Copyright {
		float: right;
	}

	.PaneQ4Footer {
		clear: both;
	}
}

/* Content Area */

// Investor Landing 

.InvestorIntro {
	margin-bottom: 40px;

	h3 {
		margin-top: 0;
	}
	img {
		margin-left: 30px;
		margin-bottom: 20px;
		float: right;

		@media screen and (max-width: 580px) {
			float: none;
			margin-left: 0; 
		}
	}
}



.InvestorStock {
	background-color: #f4f4f4;
	border: 5px solid #f1f1f1;
	border-radius: 5px;
	padding: 20px 20px 35px;
	text-align: center;

	.sotckExtraFeed{
		display: none;
	}


	.stockItem {
		display: inline-block;
		width: 30%;
		min-width: 150px;
		border-left: 1px solid #adadad;
		padding: 0 15px;

		&:first-child{
			border: none;
		}

		@media screen and (max-width: 580px) {
			display: block;
			border-left: none;
			width: auto;
			border-top: 1px solid #adadad;
			padding: 25px 15px;
		}
	}

	h2 {
		text-align: center;
		background-image: url($siteUrl + "/files/design/content/orangeline.gif");
		background-repeat: no-repeat;
		background-position: top center;
		border-bottom: none;
		padding-top: 20px;
		margin: 0;
		font-size: 30px;

		span.ModuleTitle {
			margin-bottom: 0;
			border-bottom: none;

		}
	}

	h4 {
		font-size: 50px;
		color: #00acee;

		a, a:hover {
			color: #00acee;
			text-decoration: none;
		}

	}
}

// Commintte Composition

.cominteComposition p {
	font-size: 18px;
}

table.CommitteesTable {
	font-size: 12px;
	th {
		vertical-align: bottom;
		border-left: 1px solid #E8E8E8;
		border-bottom: 1px solid #E8E8E8;

		&:first-child {
			border-left: 0;
		}
	}

	th, td {
		padding: 0 10px 5px;
	}
}

// Sec Filling

.RegulatoryFilingContainer {
	font-size: 12px;

	.FormGroupsContainer {
		margin: 10px 0;
	}

	.ModuleHeader {
		border: 1px solid #eeeeee;
		border-left: none;
		display: table-row;

		span {
			padding: 10px;
			border-right: 1px solid #dbdbdb; 
			display: table-cell;
			border-bottom: 1px solid #ccc;
			border-top: 1px solid #ccc;
			width: 20%;
			

			&:first-child {
				border-left: 1px solid #ccc;
			}
		}
		
	}

	.YearNavContainer {
		background-color: #eeeeee;
		margin: 10px 0;
		border: 1px solid #dbdbdb;
		min-width: 302px;
		
		.YearSeparator {
			display: none;
		}

		a {
			text-decoration: none;
			display: block;
			padding: 10px 15px;
			float: left;
			border-left: 1px solid #eeeeee;
			border-right: 1px solid #eeeeee;
			color: #555;;

			&:hover,
			&.selected {
				background-color: #e9e9e9;
				border-left: 1px solid #dbdbdb;
				border-right: 1px solid #dbdbdb;
				color: #226699;;
			}

			&:first-child {
				border-left: none;
			}
		}

	}

	.ModuleItemRow {
		border: 1px solid #dbdbdb; 
		border-top: none;
		display: table-row;

		span,
		a {
			width: 20%;
			display: inline-block;
			padding: 10px 10px;
			border-right: 1px solid #dbdbdb; 
		}

		.ItemDate,
		.ItemDescription,
		.ItemHref {
			display: table-cell;
			border-bottom: 1px solid #ccc;
		}
		
		.ItemDate {
			border-left: 1px solid #ccc;
		}


	}

	.Icons {
		display: table-cell;
		margin: 0;
		padding: 0;
		padding-left: 5px;
		border-bottom: 1px solid #ccc;
		border-right: 1px solid #ccc;
		list-style-type: none;
		width: 20%;

		li {
			display: inline-block;

			a,
			span {
				padding: 5px 0;
				border: none;
			}
		}
	}

}

// Blog

#blog {
	ul {
		list-style-type: none;
		padding: 0;
	}

	span {
		font-size: 17px;
	}

	div {
		color: #999999;
		font-size: 12px;
		margin-bottom: 5px;		
	}

	p {
		color: #333333;
		font-size: 14px;
	}
}

// Press release

.ModulePressRelease {

	.RssLinkTopContainer {
		font-size: 12px;
		position: relative;
		top: 35px;
	}

	.ModuleYearNavContainer {
		background-color: #eeeeee;
		margin: 10px 0;
		border: 1px solid #dbdbdb;
		height: 42px;
		border-radius: 5px;
		
		.YearSeparator {
			display: none;
		}
		a {
			text-decoration: none;
			display: block;
			padding: 10px 15px;
			float: left;
			border-left: 1px solid #eeeeee;
			border-right: 1px solid #eeeeee;
			color: #555555;

			&:hover,
			&.selected {
				color: #226699;
				background-color: #e9e9e9;
				border-left: 1px solid #dbdbdb;
				border-right: 1px solid #dbdbdb;
			}

			&:first-child {
				border-left: none;
			}
		}

	}

	.ModuleItemRow {
		padding: 10px 0;

		.ModuleDate {
			display: block;
			margin-bottom: 5px;
			color: #999999;
    		font-size: 12px;
		}

		a.ModuleHeadlineLink {
			font-size: 17px;
		}
	}

	.ModuleSeparator {
		display:block;
		border-bottom: 1px solid #F1F1F1;
		margin: 0 auto;
		width: 50%;
	}
}