/*==================================
 ----------- MODULE CSS -----------
==================================*/

/*-------- All Module CSS --------*/

.module {
  &_header, &_back-to-top, &_anchor-target,
  &_file-size, &_file-type, &_file-text,
  &_view-all-link, &_more, &_not-found {
    display: none;
  }
  // Small Spacing
  &_nav, &_headline, &_location, &_speakers,
  &_links, &_body, &_add-to-calendar,
  &_options, &_not-found {
    margin-bottom: 15px;
  }
  // Large Spacing
  &_error-container {
    margin-bottom: 30px;
  }
  &_add-to-calendar {
    &-reveal {
      color: $brand-color;
      cursor: pointer;
    }
    &-list {
      display: none;
      &:after {
        content: "Select your Calendar";
        display: block;
        margin-top: 15px;
        @include font-size(14px);
        text-align: center;
      }
      @at-root .fancybox-container & {
        padding: 35px;
      }
    }
    &-item {
      display: inline-block;
      margin: 0 10px;
      &--ics {
        display: none;
      }
      i {
        display: inline;
      }
    }
    &-link {
      @include font-size(24px);
    }
  }
  &_actions, &_pager {
    margin-top: 20px;
  }
  &_date-time {
    margin-bottom: 5px;
    @include font-size(14px);
  }
  &_dropdown {
    background: transparent url($host+'/files/design/svg/q4-icon_chevron-down-black.svg') no-repeat right 20px center;
    background-size: 14px 14px;
  }
  &_headline {
    font-weight: normal;
    &-link, &-link:visited {
      color: $body-color;
    }
  }
  &_image {
    display: inline-block;
    max-width: 30%;
    margin-bottom: 1rem;
    &--right {
      float: right;
      margin-left: 2rem;
    }
    &--left {
      float: left;
      margin-right: 2rem;
    }
  }
  &_input[type="text"], textarea.module_input, &_dropdown {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    display: block;
    /* Text area demands width*/
    width: 100%;
    max-width: none;
    padding: 15px 20px;
    border: none;
    border-radius: 0;
    background-color: $grey-color;
    @include font-size(16px);
    font-weight: 300;
  }
  &_input {
    &--brand[type="text"] {
      display: inline-block;
      width: auto;
      padding: 15px 20px;
      border: 2px solid $brand-color;
      background: transparent;
    }
  }
  &_introduction {
    margin-bottom: 35px;
  }
  &_item {
    padding: 30px 0 10px;
    & ~ .module_item {
      border-top: 1px solid rgba($dark-color, 0.1);
    }
  }
  &_links {
    > *, li, .module_presentation {
      display: inline;
    }
  }
  &_link {
    display: inline-block;
    margin: 0 15px 5px 0;
    @include font-size(14px);
    font-weight: bold;
    text-transform: uppercase;
    i, &:before {
      display: inline-block;
      padding-right: 2px;
    }
    // CMS Module Definition work-around
    &[style="DISPLAY:block;"] {
        display: inline-block !important;
    }
  }
  &_loader {
    display: inline-block;
    animation: spin 1s linear infinite;
  }
  &_nav {
    &-link, .ModuleYearLink,
    &-link:visited, .ModuleYearLink:visited {
      display: inline-block;
      margin-right: 5px;
      padding: 15px 20px;
      border: 2px solid $brand-color;
      color: $body-color;
      font-weight: normal;
      &.selected, &.selected:visited {
        background-color: $brand-color;
        color: $light-color;
      }
      @include layout-small {
        margin-bottom: 10px;
      }
    }
  }
  &_options {
    &-label, &-select {
      margin-right: 10px;
    }
    @include layout-medium {
      &-label, &-select {
        display: block;
        margin-bottom: 10px;
      }
    }
    @include layout-small {
      &-select, &-submit {
        display: block;
        margin-bottom: 10px;
      }
    }
  }
  &_pager {
    a {
      color: $body-color;
      &[href] {
        color: $brand-color;
      }
    }
  }
  &_reminder {
    &-error, &-success {
      display: block;
      margin: 15px 0 0;
      font-style: italic;
      //override backend functionality
      &[style$="hidden;"] {
        display: none;
      }
    }
    &-error {
      color: $error-color;
    }
    &-success {
      color: $success-color;
    }
    .module_input.module_reminder-period, .module_input.module_reminder-email {
      margin-right: 10px;
    }
  }
  &_required, &_error-container {
    color: $error-color;
  }
  &_required {
    &-text {
      @include font-size(13px);
      color: $error-color;
    }
  }
  &_rss {
    float: right;
  }
  &_speakers {
    li {
      margin-bottom: 5px;
    }
  }
  &_title {
    text-transform: uppercase;
  }
  &_view-all-link {
    @include font-size(14px);
    font-weight: bold;
    text-transform: uppercase;
  }
}