/*==================================
 ----------- MODULE CSS -----------
==================================*/

/*-------- All Module CSS --------*/

.module {
  &_header, &_back-to-top, &_anchor-target,
  &_file-size, &_file-type, &_file-text,
  &_view-all-link, &_more {
    display: none;
  }
  &_headline, &_location, &_speakers,
  &_links, &_body, &_add-to-calendar, &_error-container,
  &_options, &_not-found {
    margin-bottom: 15px;
  }
  &_actions, &_pager {
    margin-top: 15px;
  }
  &_date-time {
    margin-bottom: 5px;
    @include font-size(14px);
  }
  &_headline {
    font-weight: normal;
    &-link, &-link:visited {
      color: $body-color;
    }
  }
  &_image {
    display: inline-block;
    max-width: 30%;
    margin-bottom: 1rem;
    &--right {
      float: right;
      margin-left: 2rem;
    }
    &--left {
      float: left;
      margin-right: 2rem;
    }
  }
  &_introduction {
    margin-bottom: 35px;
  }
  &_item {
    padding: 30px 0 10px;
    & ~ .module_item {
      border-top: 1px solid rgba($dark-color, 0.1);
    }
  }
  &_links {
    > *, li, .module_presentation {
      display: inline-block;
    }
  }
  &_link {
    display: inline-block;
    margin: 0 15px 5px 0;
    @include font-size(14px);
    font-weight: bold;
    text-transform: uppercase;
    i, &:before {
      display: inline-block;
      padding-right: 2px;
    }
    // CMS Module Definition work-around
    &[style="DISPLAY:block;"] {
        display: inline-block !important;
    }
  }
  &_nav {
    margin-bottom: 10px;
    &-link, .ModuleYearLink,
    &-link:visited, .ModuleYearLink:visited {
      display: inline-block;
      margin-right: 5px;
      padding: 15px 20px;
      border: 2px solid $brand-color;
      color: $body-color;
      font-weight: normal;
      &.selected, &.selected:visited {
        background-color: $brand-color;
        color: $light-color;
      }
      @include layout-small {
        margin-bottom: 10px;
      }
    }
  }
  &_options {
    &-label, &-select {
      margin-right: 10px;
    }
    @include layout-medium {
      &-label {
        display: block;
        margin-bottom: 10px;
      }
    }
    @include layout-small {
      &-label {
        display: none;
      }
      &-select, &-submit {
        display: block;
        margin-bottom: 10px;
      }
    }
  }
  &_pager {
    a {
      color: $body-color;
      &[href] {
        color: $brand-color;
      }
    }
  }
  &_reminder {
    &-error, &-success {
      display: block;
      margin: 15px 0 0;
      font-style: italic;
      //override backend functionality
      &[style$="hidden;"] {
        display: none;
      }
    }
    &-error {
      color: $error-color;
    }
    &-success {
      color: $success-color;
    }
    .module_input.module_reminder-period, .module_input.module_reminder-email {
      margin-right: 10px;
    }
  }
  &_required, &_error-container {
    color: $error-color;
  }
  &_rss {
    float: right;
  }
  &_speakers {
    li {
      margin-bottom: 5px;
    }
  }
  &_title {
    text-transform: uppercase;
  }
  &_view-all-link {
    @include font-size(14px);
    font-weight: bold;
    text-transform: uppercase;
  }

  // Dark Theme
  &.dark {
    .module {
      &_item {
        & ~ .module_item {
          border-top: 1px solid rgba($light-color, 0.1);
        }
      }
      &_headline {
        &-link, &-link:visited {
          color: $light-color;
        }
      }
      &_nav {
        &-link, .ModuleYearLink {
          border: 2px solid $light-color;
          color: $light-color;
          &.selected {
            background-color: $light-color;
            color: $brand-color;
          }
        }
      }
    }
  }
}