/*- Investment Calculator Widget -*/

.module-calculator {
  &_input {
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
    h4 {
      margin-bottom: 0.75rem;
    }
    label {
      display: inline-block;
      @include font-size(14px);
      margin-bottom: 5px;
    }
    input[type="text"] {
        background-color: rgba(0,0,0,0.05);
    }
    input[type="checkbox"] + label {
      margin: 0;
    }
    &-row {
      padding: 0 0 10px 20px;
      input[type="text"] {
        margin-top: 10px;
        max-width: 300px;
      }
      &--other {
        input[type="text"] {
          display: none;
          &.js--revealed {
            display: block;
          }
        }
      }
    }
  }
  &_popup-container {
    @media screen and (min-width: 1024px) {
      min-width: 920px;
    }
  }
  &_info {
    td:first-child:before {
      content: none;
    }
  }
}