/*----- Download List Module -----*/

.module-downloads {
  .module {
    &_item {
      padding: 15px 0;
    }
  }
  &_thumbnail, &_description, &_date {
    display: none;
  }
  &_title {
    &:after {
      @include icon("\e900");
      display: inline-block;
      float: right;
      cursor: pointer;
    }
  }
}