/*----- Download List Module -----*/

.module-downloads {
  .module {
    &_nav {
      display: none;
    }
    &_item {
      padding: 15px 0;
    }
  }
  &_thumbnail, &_description, &_date {
    display: none;
  }
  &_title {
    &-link {
      display: block;
      &:after {
        @include icon("e900");
        display: inline-block;
        float: right;
        cursor: pointer;
      }
    }
  }
}