/*----- Download List Module -----*/

.module-downloads {
  .module {
    &_nav {
      display: none;
    }
    &_item {
      padding: 15px 0;
    }
  }
  &_thumbnail, &_description, &_date {
    display: none;
  }
  &_title {
    &-link {
      position: relative;
      display: block;
      margin: 0;
      padding-right: 20px;
      &:after {
        @include icon("e900");
        position: absolute;
        top: 50%; right: 0;
        transform: translate(0,-50%);
      }
    }
  }
}