/*--------- Event Module ---------*/

.module-event {
  .module {
    &_location, &_speakers h4, &_body {
      display: none;
    }
  }
  &-latest {
    .module {
      &_item {
        margin: 10px 0 40px;
        padding: 0 0 0 20px;
        border: none;
        text-align: left;
      }
      &_wrap {
        padding: 30px;
        background: $grey-color;
      }
      &_date-time {
        margin-bottom: 15px;
        font-weight: normal;
      }
      &_headline {
        line-height: 150%;
        font-weight: 200;
      }
      &_links {
        margin: 0;
      }
    }
  }
}