/*--- Financial Report Modules ---*/

.module-financial { 
  &-year {
    .module {
      &_cover {
        margin-bottom: 15px;
        img {
          display: inline-block;
          border: 1px solid $brand-color;
        }
      }
      &_item {
        padding: 0;
        & ~ .module_item {
          border-top: none;
        }
      }
      &_links {
        margin: 0;
      }
    }
    .module-financial {
      &_year {
        text-align: center;
      }
    }
  }
  &-quarter {
    .module {
      &_item {
        padding: 0;
        & ~ .module_item {
          border-top: none;
        }
        &.accordion-active {
          h3:after {
            content: "\ed5e";
          }
        }
      }
      &_links {
        display: none;
        margin: 0;
        padding: 15px;
        & > div {
          display: block;
        }
      }
      &_link {
        margin-bottom: 10px;
        @include font-size(16px);
        font-weight: normal;
        text-transform: none;
      }
    }
    .module-financial {
      &_year-text {
        padding: 20px 15px;
        margin-bottom: 10px;
        background-color: $brand-color;
        color: $light-color;
        @include font-size(16px);
        font-weight: bold;
        cursor: pointer;
        &:after {
          float: right;
          @include icon("\ed5d");
        }
      }
    }
  }
}

/* Latest Quarterly Result Widget */

.module-latest-quarter {
  .module {
    &_item {
      margin: 50px 0;
      padding: 0;
      & > div:first-child {
        border-right: 2px solid rgba($light-color, 0.5);
      }
      & ~ .module_item {
        border: none;
      }
    }
    &_links {
      margin: 0;
      text-align: left;
      & > div {
        text-align: center;
      }
    }
    &_link {
      i {
        display: block;
        @include font-size(55px);
      }
      &-text {
        display: inline-block;
        margin: 15px 0 0;
        @include font-size(16px);
        text-transform: none;
        font-weight: normal;
      }
    }
  }
  .module-financial_type-text,
  .module-financial_year-text {
    display: inline-block;
    width: 100%;
  }
  .module-financial_type-text {
    @include font-size(55px);
    font-weight: normal;
  }
  .module-financial_year-text {
    margin-top: 15px;
    @include font-size(24px);
  }
  .grid_col {
    vertical-align: bottom;
  }
  @include layout-legacy {
    .module {
      &_link {
        margin-bottom: 15px;
      }
    }
    .grid_col {
      vertical-align: middle;
    }
  }
  @include layout-small {
    .module {
      &_item {
        & > div:first-child {
          margin-bottom: 30px;
          border-right: none;
        }
      }
      &_link {
        margin-right: 0;
      }
    }
  }
}

