/*------ Formbuilder Module ------*/

.module-form {
	&_label {
		margin-bottom: 5px;
		@include font-size(14px);
	}
	&_error {
		&-text{
			color: $error-color;
			&[style="visibility:hidden;"] {
				display: none;
			}
		}
	}
}