/*---------- Job Modules ---------*/

.module-job {
  // Job List Module
  &-list {

  }
  // Job Details Module
  &-details {
    &_description-container {
      margin-bottom: 35px;
      border-top: 1px solid $darken-color;
    }
    &_description {
      border-bottom: 1px solid $darken-color;
      label {
        font-weight: normal;
      }
      input {
        width: auto;
        max-width: none;
        height: 1rem;
        padding: 0;
        border: none;
        float: right;
        font-family: $body-font;
        @include font-size(16px);
        font-weight: 300;
      }
      @include layout-small {
        label:after {
          content: ":"
        }
        input {
          display: block;
          float: none;
          margin-top: 0.5rem;
        }
      }
    }
    .grid_col {
      padding: 15px 20px;
    }
  }
  // Job Application Module
  &-application {
    &_table {
      display: block;
      width: 100%;
      tr {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        &:nth-child(odd) {
          padding-left: 10px;
        }
        &:nth-child(even) {
          padding-right: 10px;
        }
        &:not(:last-of-type) {
          margin-bottom: 20px;
        }
        // Specific Inputs
        &.module-job-application_cover-letter-text,
        &.module-job-application_resume-text {
          display: block;
          width: 100%;
          padding: 0;
        }
      }
      td {
        display: block;
        position: relative;
      }
      label {
        display: inline-block;
        margin-bottom: 5px;
        @include font-size(14px);
      }
    }

    // Required Star
    .module_required {
      @include font-size(14px);
    }
  }
}