/*----- Miscellaneous Modules ----*/

.module-script {
  display: none;
}

.module-slideshow {
  &_viewer {
    display: inline-block;
    width: 100%;
    max-width: 640px;
  }
  &_link-container {
    margin-top: 25px;
  }
  &_link {
    @include font-size(14px);
    font-weight: bold;
    text-transform: uppercase;
  }
  iframe {
    width: 100%;
  }
}

.module-rss {
  p + h2 {
    margin: 40px 0 30px;
  }
}

.module-analyst-coverage {
  table {
  }
  @include layout-medium {
    table {
      thead {
        display: none;
      }
      td {
        &:before {
          content: attr(data-heading);
          box-sizing: border-box;
          display: inline-block;
          width: 50%;
          margin-right: -.25em;
          vertical-align: top;
        }
      }
    }
  }
}