/*----- Miscellaneous Modules ----*/

.module-script {
  display: none;
}

.module-slideshow {
  &_viewer {
    display: inline-block;
    width: 100%;
    max-width: 640px;
    padding-bottom: 56.25%; /* this should be changed with aspecRatio option in widget */
    position: relative
  }
  &_link-container {
    margin-top: 25px;
  }
  &_link {
    @include font-size(14px);
    font-weight: bold;
    text-transform: uppercase;
  }
  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left:0;
    top: 0;
  }
}

.module-rss {
  p + h2 {
    margin: 40px 0 30px;
  }
}