/*-------- News Module CSS -------*/

.module.module-news {
  &-latest {
    .module {
      &_container--content {
        margin-bottom: 20px;
      }
      &_item {
        margin: 10px 0 20px;
        padding: 0 0 0 20px;
        border: none;
        text-align: left;
        // Dark Theme Override
        & ~ .module_item {
          border: none;
        }
        @include layout-medium {
          &:first-child {
            width: 100%;
          }
        }
      }
      &_item-wrap {
        padding: 30px;
        background: $light-color;
      }
      &_date-time {
        margin-bottom: 15px;
        font-weight: normal;
        color: $body-color;
      }
      &_headline {
        line-height: 1.5rem;
        font-weight: 200;
        &-link, &-link:visited {
        	display: inline-block;
          // to overwrite the dark theme
        	color: $body-color !important;
        }
      }
      &_links {
        margin: 0;
      }
      &_link {
      	color: $brand-color;
      }
    }
  }
  &-details {
    .module {
      &_view-all-link {
        display: block;
        margin-bottom: 25px;
      }
    }
  }
}