/*------ Person List Module ------*/

.module-person {
  // Person Module
  &_description, &_res-photo-container,
  .module_comma {
    display: none;
  }
  .module_item {
    position: relative;
    padding: 0 0 20px 20px;
    border: none;
    &:hover {
      .module-person_name-container {
        opacity: 1;
      }
    }
  }
  &_photo-container {
    img {
      width: 100%;
    }
  }
  &_name-container {
    position: absolute;
    top: 0; right: 0; bottom: 20px; left: 20px;
    background: rgba(0,0,0,0.6);
    opacity: 0;
    text-align: center;
    h3 {
      position: relative;
      top: 50%;
      margin: 0;
      transform: translate(0,-50%);
    }
    a {
      color: $light-color;
    }
  }
  &_name {
    display: block;
    @include font-size(18px);
    text-transform: uppercase;
  }
  &_suffix, &_title {
    @include font-size(13px);
  }
  // Person Details Module
  &-details {
    .module_title {
      display: none;
    }
    .module_comma {
      display: none;
    }
    &_photo-container, &_name-container {
      display: inline-block;
      vertical-align: middle;
    }
    &_photo-container {
      max-width: 30%;
      margin-right: 40px;
    }
    &_name {
      display: block;
      margin-bottom: 10px;
      @include font-size(36px);
      color: $brand-color;
    }
    &_title {
      display: block;
      @include font-size(24px);
    }
    &_description-container {
      margin-top: 40px;
    }
  }
  @at-root .fancybox-container & {
    .module_item {
      max-width: 940px;
      padding: 70px;
    }
    &_photo-container, &_name-container {
      display: inline-block;
      vertical-align: middle;
    }
    &_name-container {
      position: static;
      background: transparent;
      text-align: left;
      opacity: 1;
      h3 {
        position: static;
        trasnform: none;
      }
      a {
        color: $body-color;
      }
    }
    &_photo-container {
      max-width: 30%;
      margin-right: 40px;
    }
    &_name {
      display: block;
      margin-bottom: 10px;
      @include font-size(36px);
      color: $brand-color;
    }
    &_title {
      @include font-size(24px);
    }
    &_description-container {
      margin-top: 40px;
    }
    &_description {
      display: block;
    }
  }
}