/*------ Q4 Preview Toolbar ------*/
body.PreviewBody {
    margin: 0;
    background-position: 0;
    .PreviewToolBar {
        position: fixed;
        top: 100%;
        bottom: auto;
        width: 100%;
        margin: 0;
        padding: 35px 20px;
        border: 0;
        background: $dark-color;
        font-size: 0;
        text-align: left;
        color: $light-color;
        z-index: 100;
        &.js--open {
            top: auto;
            bottom: 0;
        }
        .PreviewTrigger {
            position: absolute;
            top: 0;
            left: 10px;
            padding: 20px;
            background: $dark-color;
            transform: translate(0, -100%);
            @include font-size(24px);
            cursor: pointer;
            &.js--active {
                i:before {
                    content: unicode("ed6d");
                }
            }
        }
        .PreviewFloatLeft,
        .PreviewDateControls {
            display: inline-block;
            vertical-align: middle;
            &:before {
                @include font-size(16px);
                margin-right: 15px;
                line-height: 50px;
            }
        }
        .PreviewFloatLeft {
            float: none;
            &:before {
                content: "Select Preview Type:";
            }
        }
        .PreviewDateControls {
            float: right;
            &:before {
                content: "Select Preview Date:";
            }
        }
        img {
            display: none;
        }
        input[type="radio"],
        label,
        input[type="text"],
        select,
        input[type="submit"] {
            display: inline-block;
            margin-right: 5px;
            font-family: $body-font !important;
            font-weight: 300;
            @include font-size(14px);
            text-transform: uppercase;
            vertical-align: baseline;
        }
        input[type="text"],
        select,
        input[type="submit"] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding: 15px 20px;
            border: 0;
            border-radius: 0;
        }
        label {
            &+input[type="radio"] {
                margin-left: 15px;
            }
        }
        input[type="text"] {
            min-width: 110px;
        }
        select {
            padding: 15px 35px 15px 20px;
            background: $light-color url($host+'/design/svg/q4-icon_chevron-down-black.svg') no-repeat right 10px center;
            background-size: 14px 14px;
            &::-ms-expand {
                display: none;
            }
        }
        input[type="submit"] {
            background: $brand-color;
            color: $light-color !important;
        } // Responsive
        @include layout-legacy {
            .PreviewFloatLeft,
            .PreviewDateControls {
                display: block;
                float: none;
                margin-bottom: 15px;
                &:before {
                    display: block;
                }
            }
        }
        @include layout-medium {
            input[type="radio"],
            label,
            input[type="text"],
            select,
            input[type="submit"] {
                margin-bottom: 5px;
            }
        }
    }
}