/*-------- SEC Module CSS --------*/

.module-sec {
	.module {
		&_item {
			padding: 15px 5px;
			&:nth-child(odd) {
				background-color: $grey-color;
			}
			.grid_col {
				vertical-align: middle;
			}
		}
	}
	&_filing {
		font-weight: bold;
	}
	&_download-list {
		&-item {
			display: inline-block;
			@include font-size(24px);
		}
		&-item:not(:last-of-type) {
			margin-right: 5px;
		}
	}
	@include layout-medium {
		&_date, &_filer, &_filing, &_description {
			margin-bottom: 15px;
		}
	}
	&-details {
		&_date, &_description {
			margin-bottom: 15px;
		}
		&_download-list {
			&-item {
				display: inline-block;
				@include font-size(24px);
			}
			&-item:not(:last-of-type) {
				margin-right: 5px;
			}
		}
	}
}