/*-------- SEC Module CSS --------*/

.module-sec {
  .module {
    &_header {
      display: block;
      &-text {
        padding: 15px 8px;
        background-color: $brand-color;
        color: $light-color;
      }
    }
    &_item {
      padding: 0;
      &:not(:last-of-type) {
        border: 0;
      }
      &:nth-child(odd) {
        background-color: $grey-color;
      }
      .grid_col {
        vertical-align: middle;
        padding: 15px 8px;
      }
      .module-sec_filing {
        font-weight: bold;
      }
    }
    @include layout-medium {
      &_header {
        display: none;
      }
    }
  }
  &_download-list {
    &-item {
      display: inline-block;
      @include font-size(24px);
    }
    &-item:not(:last-of-type) {
      margin-right: 5px;
    }
  }
  @include layout-medium {
    &_date, &_filer, &_filing, &_description {
      margin-bottom: 15px;
    }
  }
  &-details {
    &_date, &_description {
      margin-bottom: 15px;
    }
    &_download-list {
      &-item {
        display: inline-block;
        @include font-size(24px);
      }
      &-item:not(:last-of-type) {
        margin-right: 5px;
      }
    }
  }
}