/*------ Stock Header Module -----*/

.module-stock-header {
  text-align: right;
  @include layout-legacy {
    text-align: center;
  }
  .module_container--outer {
    display: inline-block;
    padding: 40px 55px;
    background: rgba(0,0,0,0.6);
    text-align: center;
  }
  &_description1 {
    display: block;
    font-weight: bold;
    @include property-with-rem(margin-bottom, 1rem);
  }
  &_stock-price {
    &:before {
      content: '$';
    }
    display: block;
    @include property-with-rem(margin-bottom, 0.5rem);
    @include font-size(45px);
    color: $light-color;
  }
  &_change,
  &_percent-change {
    display: inline-block;
    @include property-with-rem(margin-bottom, 1.5rem);
    @include font-size(20px);
  }
  &_percent-change {
    &:before {
      content: '(';
    }
    .module-stock-header_indicator {
      display: none;
    }
    &:after {
      content: ')';
    }
  }
  &_volume {
    &:before {
      content: 'Volume ';
      font-weight: bold;
    }
    display: block;
    @include property-with-rem(margin-bottom, 2rem);
  }
  &_description3 {
    display: block;
    @include font-size(12px);
    color: #a9a9a9;
  }
  &_volume-text,
  &_date {
    display: none;
  }
}