<%@ Control Language="c#" AutoEventWireup="false" CodeBehind="~/Layouts/3_6/ThreeColumnLayout.ascx.cs" Inherits="IRPortal.Layouts._3_6.ThreeColumnLayout" %>
<div class="LayoutDefault LayoutTwoColumn">
	<div class="LayoutDefaultInner">
		<header class="navbar">
			<div class="PaneHeader">
				<div class="container">
					<asp:PlaceHolder ID="HeaderPane" Runat="server" />
				</div>
			</div>
			<div class="navbar">
				<div class="navbar-inner">
					<div class="container">
						<asp:PlaceHolder ID="NavigationPane" Runat="server" />
					</div>
				</div>
			</div>
		</header>
		<main class="bs-masthead">
			<div class="container">
				<div class="PaneLeft col-md-2"><asp:PlaceHolder ID="LeftPane" Runat="server" /></div>
				<div class="PaneContent col-md-8">
					<div class="PaneBreadcrumb">
						<asp:PlaceHolder ID="BreadcrumbPane" Runat="server" />
					</div>
					<asp:PlaceHolder ID="ContentPane" Runat="server" />
				</div>
				<div class="PaneRight col-md-8"><asp:PlaceHolder ID="RightPane" Runat="server" /></div>
			</div>
		</main>
	</div>
	<div class="FooterNavigation">
		<div class="container"><asp:PlaceHolder ID="FooterPane2" Runat="server" /></div>
	</div>
	<footer>
		<div class="container">
			<div class="PaneFooter"><asp:PlaceHolder ID="FooterPane" Runat="server" /></div>
			<div class="PaneQ4Footer"><asp:PlaceHolder ID="Q4Footer" Runat="server" /></div>
		</div>
	</footer>
</div>

